"{\n  \"extends\": [\n    \"plugin:react/recommended\",\n    \"plugin:@typescript-eslint/recommended\",\n    \"eslint:recommended\",\n    \"plugin:prettier/recommended\"\n  ],\n  \"rules\": {\n    \"@typescript-eslint/no-non-null-assertion\": \"off\",\n    \"@typescript-eslint/explicit-module-boundary-types\": \"off\",\n    \"no-undefined\": \"off\",\n    \"@typescript-eslint/ban-ts-comment\": \"warn\",\n    \"react/prop-types\": \"off\",\n    \"react/react-in-jsx-scope\": \"off\",\n    \"react/display-name\": \"off\",\n    \"require-await\": \"warn\",\n    \"@typescript-eslint/no-explicit-any\": \"off\"\n  },\n  \"root\": true,\n  \"parserOptions\": {\n    \"ecmaVersion\": 11,\n    \"sourceType\": \"module\",\n    \"parser\": \"babel-eslint\"\n  },\n  \"env\": {\n    \"browser\": true,\n    \"node\": true,\n    \"es6\": true\n  },\n  \"plugins\": [\n    \"react\",\n    \"prettier\",\n    \"@typescript-eslint/eslint-plugin\",\n    \"jsx-a11y\"\n  ]\n}"